
.el-input--suffix .el-input__inner{
    margin:0;
    padding-right: 0;
    height:30px;
}
.el-input__icon{
    line-height:30px;
}
*{padding:0; margin:0;box-sizing: border-box;font-family: myFont,PingFang SC,Arial, Helvetica, sans-serif,SimSun,NSimSun !important}
/* @font-face {
    font-family: 'myFont';
    src: url('./font/pingfang.ttf');
    font-weight: normal;
    font-style:normal;
} */

ul{
    list-style: none;
}
.flexPublic>i,
.flexPublic>li,
.flexPublic>ul,
.flexPublic>img,
.flexPublic>span,
.flexPublic>div{
    float:left;
}
.flexPublic{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.inputContainer{
    width:100%;
    height:30px;
    position:relative;
    border:0;
}
.inputContainer>input{
    width:100%;
    height:100%;
    padding:0 10px;
    border:1px solid #dcdfe6;
    border-radius: 3px;
    outline:0;
    background: #fff;
}
.inputContainer>input:focus{
    border-color:#409eff;
}
.selectContainer{
    border:1px solid #dcdfe6;
    padding:0;
    position: relative;
    height:30px;
    width:120px;
    border-radius: 3px;
    text-align: center;
}
.selectContainer>select{
    border:0;
    height:100%;
    width:100%;
    outline: none;
    position:relative;
    z-index: 2;
    padding:0 5px;
    background: none;
    text-align: center;
    background: #fff;
}
.manageContent{
    width:100%;
    height:100%;
    text-align: left;
    font-size:14px;
    position:relative;
    padding: 20px;
}
.timeSelect .manageContent{
    padding: 0;
}
.unionState>ul>li{
    margin-right:15px;
    width:33.33%;
}
.unionState>ul>li>div:first-of-type{
    width:60px;
    font-size: 13px;
    text-align: center;
}

.searcherValue{
    border:1px solid #ddd;
    border-radius: 10px 0 0 10px ;
    overflow: hidden;
    padding-left:10px;
}
.searcherValue>input{
    min-width:100px;
    height:30px;
    outline: none;
    margin:0;
    font-size: 14px;
    border:0;
}
.searcherBtn{
    height:32px;
    width:60px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border:1px solid #00B8EE;
    background-color: #00B8EE;
    color: #fff;
}
.unionState .handle>a>li{
    border:1px solid #00B8EE;
    background-color: #00B8EE;
    color:#fff;
    cursor:pointer;
    border-radius: 3px;
    text-align: center;
    min-width:60px;
    font-size:13px;
    height:30px;
    line-height: 30px;
    margin-left:10px;
    margin-right: 0;
    padding: 0 15px;
}
.unionState .handle>a>li:hover{
    background: #fff;
    color: #00B8EE;
}

.formData{
    margin-top:10px;
}
.formData>ul:first-child{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size:13px;
}
.formData>ul:first-child{
    background: #d3e9f9;
    color:#000;
}
.datepick{
    font-size: 13px;
    height:100%;
}
.datepick .el-date-editor.el-input{
    width:120px;

    font-size: 12px;
    padding-right:10px !important;
    margin:0;
}
.userInfoCss{
    background: #bbb;
}
.formDataPages{
    margin-top: 10px;
    padding:8px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 13px;
}
.formDataPages>div{
    width:500px;
    justify-content: flex-end;
}
.formDataPages>div>div:nth-of-type(2){
    width:50px;
    height:25px;
    margin:0 3px;
}
.formDataPages>div>div:nth-of-type(3){
    margin-right: 8px;
}
.pagesContainer>ul>li{
    border:1px solid #ddd;
    border-radius: 3px;
    padding:3px 5px;
    margin-right:3px;
    cursor:pointer;
}
.pagesContainer>ul>li:hover{
    background: #509edc;
    color:#fff;
}
.pagesContainer>ul>.pageActive:hover,.pageActive{
    background: #2780d1;
    color:#fff;
}
.pagesContainer>ul>.pageDisabled:hover,.pageDisabled{
    background: #ddd;
    color:#fff;
    cursor:default;
}
.ml1{
    margin-left: 10px;
}
.w-20{
    width: 20%;
}
.w-25{
    width:25%;
}
.w-33{
    width:33.33%;
}
.w-50{
    width:50%;
}
.w-100{
    width:100%;
}
.m0{
    margin:0 !important;
}
.p0{
    padding:0  !important;
}
.voucherHead .el-upload.el-upload--text{
    width:80px;
    height:32px;
    border:0;
}
.newAddStateTrue:after{
    content:"";
    position:absolute;
    width:8px;
    height:18px;
    border:1px solid #02a7e7;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    top:-12px;
    left:48%;
}
.newAddStateFalse:before,.newAddStateFalse:after{
    content:"";
    position: absolute;
    width:18px;
    height:1px;
    background: #d8281d;
    transform: rotate(45deg);
    left:40px;
    left:45%;
}
.newAddStateFalse:before{
    transform: rotate(-45deg);
}
.btn{
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    color:#fff;
    text-align: center;
    border:1px solid #00b7ee;
    border-radius: 5px;
    height:30px;
    line-height: 30px;
    width:90px;
}
.btn:hover{
    background: #fff;
    color:#00b7ee;
}
.btnDisabled{
    background: #fff;
    color:#aaa;
    border:1px solid #cccccc;
    cursor: default;
}
.btnDisabled:hover{
    background: #fff;
    color:#aaa;
    border:1px solid #cccccc;
}
.content{
    height:100%;
    overflow-y: auto;
    padding: 20px;
    background: #fff;
    padding-top: 50px;
    margin-top:0;
}
.popper{
    top: 235px !important;
}
.sys-header .collapse-btn{
    background: #fff;
}
.sidebar{
    background: #fff;
}
.collapse-btn{
    display: flex;
    align-items: center;
}

.sidebar .el-menu{
    background: #fff;
    color:#333;
  }
  .sidebar .el-menu .el-menu-item{
    color:#333;
  }
  .sidebar .el-menu .el-submenu__title{
    color:#333;
  }
  .el-submenu__icon-arrow{
      color:rgb(117, 74, 74) !important;
  }

 /* 清除ie输入框的叉号 */
  input[type=text]::-ms-clear{display: none;} 

  /*设置按钮样式--王冠冠*/
    .el-button--info:hover, .el-button--info:focus {
        /*background: #a6a9ad;*/
        /*border-color: #a6a9ad;*/
        /*color: #fff;*/
        background: #fff;
        color: #00B8EE;
    }
    .el-button--info {
        color: #fff;
        background-color: #00B8EE;
        border-color: #00B8EE;
    }
    /*核定后显示的核定面板*/
.verifyPanel{
    display: none;
    height: 60px;
    width: 150px;
    border: 2px solid #ff9f7b;
    position: fixed;
    right: 130px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: red;
    border-radius: 5px;
    transform: rotate(30deg);
    background-color: white;
}

/* 导航子菜单 */
.el-menu--horizontal .el-menu--popup-bottom-start{
    min-width:120px;
    left:40px;
    text-align: center;
    bottom:5px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px  #00b7ee;
}
